---
layout: default
---

<div class="about about--03">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        {% if page.guide_back %}

          <a href="/guide/schemas.html">❮ Back</a>

        {% else %}

        <div class="guide-sidebar">
          <h6>Introduction</h6>
          <ul>
            <li {% if page.url == '/guide/' %}class="active"{% endif %}><a href="/guide/">Introduction</a></li>
            <li {% if page.url == '/guide/identity-faq.html' %}class="active"{% endif %}><a href="/guide/identity-faq.html">Identity FAQ</a></li>
            <li {% if page.url == '/guide/general-faq.html' %}class="active"{% endif %}><a href="/guide/general-faq.html">General FAQ</a></li>
            <li {% if page.url == '/guide/technical-faq.html' %}class="active"{% endif %}><a href="/guide/technical-faq.html">Blockchain FAQ</a></li>
          </ul>
          <h6>Technical Docs</h6>
          <ul>
            <li {% if page.url == '/guide/system-overview.html' %}class="active"{% endif %}><a href="/guide/system-overview.html">System Overview</a></li>
            <li {% if page.url == '/guide/standard.html' %}class="active"{% endif %}><a href="/guide/standard.html">Blockcerts Standard</a></li>
            <li {% if page.url == '/guide/schemas.html' %}class="active"{% endif %}><a href="/guide/schemas.html">Schemas</a></li>
            <li {% if page.url == '/guide/quick-start.html' %}class="active"{% endif %}><a href="/guide/quick-start.html">Quick Start</a></li>
            <li {% if page.url == '/guide/batch-issuing.html' %}class="active"{% endif %}><a href="/guide/batch-issuing.html">How Issuing Works</a></li>
            <li {% if page.url == '/guide/verification-process.html' %}class="active"{% endif %}><a href="/guide/verification-process.html">Verification Process</a></li>
            <li {% if page.url == '/guide/revocation.html' %}class="active"{% endif %}><a href="/guide/revocation.html">Revocation</a></li>
            <li {% if page.url == '/guide/display-guidelines.html' %}class="active"{% endif %}><a href="/guide/display-guidelines.html">Display Guidelines</a></li>
            <li {% if page.url == '/guide/issuer-hosting.html' %}class="active"{% endif %}><a href="/guide/issuer-hosting.html">Issuer Hosting</a></li>
          </ul>
        </div>
        {% endif %}

      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 guide-content">
        {{ content }}
      </div>
    </div>
  </div>
</div>
